* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  margin: 0px;
  color: forestgreen;
};

h2 {
  margin: auto;
  font-size: 60px;
}

p {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.page-section, 
.page-section contact {
  background-color: azure;
}

/* CSS design for Navigation */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navigation {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}

#navigation p {
  cursor: pointer;
  text-decoration: none;
}

#navBar h1 {
  width: 25%;
  font-weight: 500;
}

.hero-banner {
  margin: 0px auto;
  display: grid;
  min-height: 100px;
  height: 20vh;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background-image: url("../images/02-portfolio-3.jpg");  
}

/* CSS Design for About Me*/
.devbio {
  display: grid;
  grid-template-columns: 20% 75%;
  padding: 20px;
}

#devbio-border {
  border-right: solid;
  border-width: 5px;
  border-color: teal;
  margin-left: 150px;
}
#bio-paragraph {
  padding:10px;
  margin-left: 20px ;
  margin-right: 10px;
  line-height: 1.8;
}

/* CSS Design for Work section */
.dev-work {
  display: grid;
  grid-template-columns: 20% 75%;
  padding: 20px;
}

#dev-work-border {
  border-right: solid;
  border-width: 5px;
  border-color: teal;
  margin-left: 150px;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.dev-class {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "marketing-site marketing-site"
  "jakes-eatery prework-study"
  "furniture-store furniture-store";
}

#marketing-site {
 grid-area: marketing-site;
 background-image: url("../images/02-portfolio-4.jpg");
}


#jakes-eatery {
  grid-area: jakes-eatery;
  background-image: url("../images/Eatery.jpg");
}

#furniture-store {
  grid-area: furniture-store;
  background-image: url("../images/desks 2.png");
}

#prework-study {
  grid-area: prework-study;
  background-image: url(../images/02-portfolio-2.jpg);
}

.heading {
  background-color: teal;
  padding: 20px;
  height: 25px;
  color: white;
  font-size: 20px;
  border-bottom: 5px solid palevioletred;
}

/* CSS Design for Contact Me section */
.contact-details {
  display: grid;
  grid-template-columns: 20% 75%;
  padding: 20px;
}

#contact-me-border {
  border-right: solid;
  border-width: 5px;
  border-color: teal;
  margin-left: 150px;
}

.contact-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "email telephone github linkedin resume";
  align-items: center;
  margin-left: 20px;
}
#email {
  grid-area: email;
}

#telephone {
  grid-area: telephone;
}

#github {
  grid-area: github;
}

#linkedin {
  grid-area: linkedin;
}

#resume {
  grid-area: resume;
}



